@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.navbar-brand{
    font-family: Lato, sans-serif;
}

.brand-img {
    transform: translateY(-15%)
}

.dropdown-menu {
    text-align: center;
}
